---
---
@import "{{ site.theme }}";

body {
  background-image: url("https://i.imgur.com/RT4qwGy.png") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-attachment: fixed !important;
}

.wrapper {
  background: rgba(255, 255, 255, 0.8) !important;
  padding: 20px !important;
  border-radius: 10px !important;
}
